name: Build C Program

on: [workflow_dispatch]

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - run: |
          sudo apt update
          sudo apt install -y gcc make
          mkdir -p bin
          make build